* {
    border: 1px solid black;
}

.navGroup {
    display: flex;
    padding: 10px;
    background-color: red;
}

.navGroup a {
    padding: 20px;
    background-color: yellow;
    text-decoration: none;
    object-fit: contain;
}

