/* ------------------ Header / Navbar ------------------ */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--b1);
    padding: 20px;
}

.headerRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.active {
    background-color: var(--b3)
}

.navGroup {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navGroup a {
    text-decoration: none;
    object-fit: contain;
    color: var(--b2);
    border-bottom: 1px solid var(--b6);
    border-radius: 5px;
    padding: 5px 30px;
    margin: 5px 10px;
}

/* Pseudo Elements */
.navGroup a:hover {
    background-color: var(--b3);
    opacity: .7;
}

/* Media Queires */
@media screen and (max-width: 768px) {
    .header {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .navGroup a {
        width: 100%;
        text-align: center;
        padding: 5px;
    }
}

