.homeAvatar {
    opacity: .8;
    padding: 20px;
}

.homeAvatar img {
    border-radius: 30%;
    background-color: var(--b1);
}

.logo-subtitle {
    padding: 30px;
}

.outerCard {
    margin: 5px 0;
}

.card {
    background-color: var(--b4);
    box-shadow: 1px 1px 4px black;
}

.aboutMeButton {
    background-color: var(--b1);
    color: var(--b2);
    border: 1px solid var(--b4);
    box-shadow: 1px 1px 4px black; 
}

.aboutMeButton:hover {
    background-color: var(--b1);
    opacity: .7;
    border: 1px solid var(--b4);
}