.sectionHeader {
    padding: 20px ;
}

.mainProjectRow {
    margin-top: 20px;
}
.secondaryProjectRow {
    margin-bottom: 20px;
}

.project-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--b1);
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 3px 3px 8px black;
    position: relative;
    padding: 0;
}

.project-overlay {
    display: none;
}

.project-card:hover .project-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background-color: var(--b5);
    color: black;
    bottom: 0;
    width: 100%;
    height: auto;
    opacity: .9;
    animation: fadeIn .5s;
    padding: 20px;
    border-top: .1px solid var(--b1);
}

.projectLinks {
    width: 100%;
    display: flex;
    justify-content: center;
}

.projectLinks a {
    color: var(--b1);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 30px;
    margin: 0 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;
    background-color: var(--b1);
    color: var(--b2);
}

.projectLinks a:hover {
    opacity: .9;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .9;
    }
}


