/* Style sheet to keep the pseudo elements */
*{
    border: 1px solid black;
}

/* main project will get additional styling */
.project-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-project-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.project-card {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid var(--dark1); */
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 3px 3px 8px black;
    position: relative;
    padding: 0;
}

.project-overlay {
    display: none;
}

.project-card:hover .project-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background-color: rgb(195, 195, 195);
    color: black;
    bottom: 0;
    width: 100%;
    height: auto;
    opacity: .9;
    animation: fadeIn .5s;
    padding: 20px;
    border-top: .1px solid var(--light2);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .9;
    }
}


