.resumeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resumeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

iframe {
    text-align: center;
    height: 1250px;
    min-width: 1000px;
    border: 1px solid black;
}

.download {
    margin: 0 auto;
    background-color: var(--b1);
    border: none;
    padding: 20px 40px;
}

.download a {
    color: var(--b2);
    text-decoration: none;
}


/* Resume gets too small to actually view - need to hide */

@media screen and (max-width: 768px) {
    iframe {
        display: none;
    }

}